<div class="navbar navbar-fixed-top">
  {{outlet navbar}} 
</div>
<div class="row-fluid">
  <div class="span2">
    {{outlet sidebar}}
  </div>
  <div class="span10">
    {{outlet main}}
  </div>
</div>